<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Jogador</title>
    <!-- Inclua o Materialize CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
   <!-- Inclua o FullCalendar CSS -->
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.8/index.global.min.js'></script>
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
   
   <style>
        body {
            background-color: #002D62;
            color: black;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
    
        .navbar {
            background-color: #001f3f;
            padding: 10px;
            width: 100%;
            text-align: center;
        }
    
        .button {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            /* Alinha itens verticalmente */
            justify-content: left;
            /* Alinha itens horizontalmente */
        }
    
        .button i {
            margin-right: 5px;
            /* Adiciona um espaço entre o ícone e o texto */
        }

        .container{
            background-color: aliceblue;
            padding: 20px;
            border-radius: 5px;
            box-sizing: border-box;
            width: calc(100% - 100px);
            /* Leva em consideração as margens para calcular a largura total */
            margin-top: 20px;
            /* Adicionado espaço entre o navbar e o container */
        }
        .player-details {
            text-align: center;
            margin-bottom: 20px;
            
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .player-name {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            margin-bottom: 10px;
        }

        .player-name img {
            width: 200px;
            height: 200px;
            margin-right: 10px;
        }
        
        .player-info {
            font-size: 18px;
        }

        .card-player {
            display: flex;
            margin: 20px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            gap: 10px;
            justify-content: space-between;
        }
        .player-stats {
            align-items: center;
            /* Estilos para o card da equipe (à esquerda) */
            flex: 1; /* Ocupa todo o espaço disponível à esquerda */
        }

        .card-calendar {
            /* Estilos para o card do calendário (à direita) */
            flex: 1; /* Ocupa todo o espaço disponível à direita */
        }
   </style>
</head>
<body>
    <div class="navbar">
        <a href="/" class="button"><i class="material-icons">home</i> Página Inicial</a>
      </div> 
    <div class="container">
        <div class="player-details">
            <h1 class="player-name">
                <% if (jogador.foto) { %>
                    <img src="<%= jogador.foto %>" alt="Foto do jogador">
                <% } else { %>
                    <i class="material-icons medium">person</i>
                <% } %>
                <span style="margin-right: 10px;"><%= jogador.nome %> <%= jogador.sobrenome %></span>
                <a class="team-link" href="/time/<%= time.idTime %>">
                    <img class="team-logo" src="<%= time.logo %>" alt="Logo do Time" style="max-width: 50px; height: auto;">
                </a>
            </h1>
            <p class="player-info">
                Altura: <%= jogador.altura != null ? jogador.altura + 'm' : 'Não informado' %> |
                Número: <%= jogador.camisa != null ? jogador.camisa : 'Não informado' %> |
                Posição: <%= jogador.posicao != null ? jogador.posicao : 'Não informado' %> |
                Idade: <%= jogador.dataNascimento != null ? jogador.dataNascimento : 'Não informado' %>
              </p>
              
        </div>
        <div class="card-player">
            <div class="player-stats">
                <h3>Estatísticas</h3>
                <table class="stats-table">
                    <tbody>
                        <tr>
                            <td>Total de Jogos</td>
                            <td><%= media.totalJogos %></td>
                        </tr>
                        <tr>
                            <td>Pontos</td>
                            <td><%= media.mediaPontos.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Assistências</td>
                            <td><%= media.mediaAssists.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Rebotes</td>
                            <td><%= media.mediaTotReb.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Arremessos</td>
                            <td><%= media.mediaFga.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Arremessos Certos</td>
                            <td><%= media.mediaFgm.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Tentativas de 3 Pontos</td>
                            <td><%= media.mediaTpa.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Acertos de 3 Pontos</td>
                            <td><%= media.mediaTpm.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Tentativas de 2 Pontos</td>
                            <td><%= (media.mediaFga - media.mediaTpa).toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Acertos de 2 Pontos</td>
                            <td><%= (media.mediaFgm - media.mediaTpm).toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Lances Livres</td>
                            <td><%= media.mediaFta.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Acertos de Lances Livres</td>
                            <td><%= media.mediaFtm.toFixed(1) %></td>
                        </tr>
                        <tr>
                            <td>Turnovers</td>
                            <td><%= media.mediaTurnovers.toFixed(1) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-calendar">
                <h3>Calendário</h3>
                <div class="card-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Script EJS para incorporar as informações das partidas -->
<script>
    // Obtém o objeto partidas do servidor (como uma string JSON)
    let partidas = '<%= JSON.stringify(partidas) %>';

    // Decodifica as entidades HTML (por exemplo, &#34; para ")
    partidas = partidas.replace(/&#(\d+);/g, function (match, dec) {
        return String.fromCharCode(dec);
    });

    // Converte a string JSON em um objeto JavaScript
    partidas = JSON.parse(partidas);

    document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'pt-br',
        events: partidas, // Use o objeto partidas como a fonte de eventos para o calendário
        eventClick: function (info) {
            var idPartida = info.event.extendedProps.idPartida;
            window.location.href = '/partida/' + idPartida;
        },
        eventContent: function (arg) {
            // Obtém a data da partida a partir do objeto partidas
            var partidaDate = new Date(arg.event.start);
            var logoAdversario = null;

            // Itera sobre o objeto partidas para encontrar a logo do time adversário
            for (var partidaId in partidas) {
                var partida = partidas[partidaId];
                var partidaDateObj = new Date(partida.date);

                // Verifica se a data da partida corresponde à data do evento no calendário
                if (partidaDateObj.toDateString() === partidaDate.toDateString()) {
                    logoAdversario = partida.logoAdversario;
                    break;
                }
            }

            // Crie um elemento HTML personalizado para o evento
            const customEventContent = document.createElement('div');
            customEventContent.classList.add('custom-event');

            // Adicione a logo do time adversário ao elemento, se encontrada
            if (logoAdversario) {
                const logoElement = document.createElement('img');
                logoElement.src = logoAdversario;
                logoElement.style.maxWidth = '50px'; // Defina o tamanho máximo da imagem
                logoElement.style.maxHeight = '50px';
                customEventContent.appendChild(logoElement);
            }

            return { domNodes: [customEventContent] };
        }
    });

    calendar.render();
});

</script>


<!-- Inclua o Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Inclua o FullCalendar CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.7.2/main.min.css">

<!-- Inclua o FullCalendar JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.7.2/main.min.js"></script>


</body>
</html>
