<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Página da Partida</title>
    <!-- Inclua o Materialize CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body {
            background-color: #002D62;
            color: black;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
    
        .navbar {
            background-color: #001f3f;
            padding: 10px;
            width: 100%;
            text-align: center;
        }
    
        .button {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            /* Alinha itens verticalmente */
            justify-content: left;
            /* Alinha itens horizontalmente */
        }
    
        .button i {
            margin-right: 5px;
            /* Adiciona um espaço entre o ícone e o texto */
        }
    
        .container {
            background-color: aliceblue;
            padding: 20px;
            border-radius: 5px;
            box-sizing: border-box;
            width: calc(100% - 100px);
            /* Leva em consideração as margens para calcular a largura total */
            margin-top: 20px;
            /* Adicionado espaço entre o navbar e o container */
        }
    
        .game-card {
            display: flex;
            margin: 20px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    
        .team-column {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .team-card {
            background-color: rgb(220, 235, 250);
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            margin: 10px;
            height: 280px;
            width: 390px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .team-card img {
            max-width: 100px;
            height: auto;
    
        }
    
        .versus-heading {
            font-size: 32px;
            align-self: center;
            margin: 0 20px;
        }
    
        .game-infos {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
        }
    
    
        /* Novo estilo para o título "Estatísticas dos Times" */
        .stats-heading {
            cursor: pointer;
            text-decoration: underline;
            color: #000000;
        }
    
        /* Estilo para o contêiner de estatísticas dos times */
        .stats-section {
            background-color: rgb(220, 235, 250);
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            text-align: center;
            /* Inicialmente oculta */
            display: none;
            gap: 10px;
            /* Outras propriedades de estilo da sua seção */
            justify-content: space-between;
    
        }
    
        /* Estilo para as células da tabela dentro de .stats-table */
        .stats-table th,
        .stats-table td {
            border: 1px solid;
            padding: 8px;
            text-align: center;
            color: #000000;
        }
    
        .stats-table {
            width: 100%;
            /* Define a largura da tabela como 100% do container pai */
            box-sizing: border-box;
            /* Garante que a largura inclua padding e borda */
        }


        /* Estilo para o título "Elenco dos Times e Prognósticos" */
        .roster-heading {
            cursor: pointer;
            text-decoration: underline;
            color: #000000;
        }
        .roster-section {
            background-color: rgb(220, 235, 250);
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            text-align: center;
            /* Inicialmente oculta */
            display: none;
            gap: 10px;
            justify-content: space-between; /* Distribui o espaço igualmente entre as colunas */
        }

        /* Estilo para as células da tabela dentro de .team-table */
        .team-table th,
        .team-table td {
            border: 1px solid;
            padding: 8px;
            text-align: center;
            color: #000000;
        }
    
        .team-table{
            width: 100%;
            /* Define a largura da tabela como 100% do container pai */
            box-sizing: border-box;
            /* Garante que a largura inclua padding e borda */
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/" class="button"><i class="material-icons">home</i> Página Inicial</a>
      </div>    
    <div class="container">
        <div class="game-details">
            <h3 class="game-heading">Detalhes da Partida</h3>
            
            <!-- Card para informações da partida -->
            <div class="game-card">
                <div class="team-column">
                    <div class="team-card">
                        <a href="/time/<%= timeA.idTime %>">
                            <img src="<%= timeA.logo %>" alt="Logo do Time A">
                        </a>
                        <h3 class="team-heading"><%= timeA.nome %></h3>
                        <!-- Adicione outras informações do Time A aqui -->
                    </div>
                </div>
                <div class="versus-heading">x</div>
                <div class="team-column">
                    <div class="team-card">
                        <a href="/time/<%= timeB.idTime %>">
                            <img src="<%= timeB.logo %>" alt="Logo do Time B">
                        </a>
                        <h3 class="team-heading"><%= timeB.nome %></h3>
                        <!-- Adicione outras informações do Time B aqui -->
                    </div>
                </div>
            </div>
            
            
            <!-- Informações da partida (aparece apenas uma vez) -->
            <p class="game-infos">Data: <%= partida.date.toLocaleString() %> | Local: <%= timeA.arena %></p>
            <% const hoje = new Date().toLocaleDateString(); %>
            <!-- Seção para as estatísticas dos times (inicialmente oculta) -->
            <h3 class="stats-heading" id="toggle-stats">Estatísticas</h3>
            <div class="stats-section" id="stats-section">
                <div class="stats-table">
                    <table class="time-table">
                        <% if (statsTA && ocorreu != true) { %>
                            <tr>
                                <th>Média de Pontos</th>
                                <td><%= statsTA[0].media_pontos.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Assistências</th>
                                <td><%= statsTA[0].media_assistencias.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Rebotes</th>
                                <td><%= statsTA[0].media_totReb.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Rebotes ofensivos</th>
                                <td><%= statsTA[0].media_offReb.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Rebotes defensivos</th>
                                <td><%= statsTA[0].media_defReb.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Tentativas de Arremesso</th>
                                <td><%= statsTA[0].media_fga.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Conversão de Arremesso</th>
                                <td><%= statsTA[0].media_fgp.toFixed(1) %>%</td>
                            </tr>
                            <tr>
                                <th>Média de Tentativas 3 Pontos</th>
                                <td><%= statsTA[0].media_tpa.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Conversão 3 Pontos</th>
                                <td><%= statsTA[0].media_tpp.toFixed(1) %>%</td>
                            </tr>
                            <tr>
                                <th>Média de Lances livres</th>
                                <td><%= statsTA[0].media_fta.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Conversão Lance livre</th>
                                <td><%= statsTA[0].media_ftp.toFixed(1) %>%</td>
                            </tr>
                            <tr>
                                <th>Média de Faltas</th>
                                <td><%= statsTA[0].media_pFouls.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Roubos</th>
                                <td><%= statsTA[0].media_steals.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Turnovers</th>
                                <td><%= statsTA[0].media_turnovers.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de PlusMinus da equipe</th>
                                <td><%= statsTA[0].media_plusMinus.toFixed(1) %></td>
                            </tr>
                        <% } else if(statsTA && ocorreu) { %>
                            <tr>
                                <th>Pontos</th>
                                <td><%= statsTA[0].pontos %></td>
                            </tr>
                            <tr>
                                <th>Assistências</th>
                                <td><%= statsTA[0].assistencias %></td>
                            </tr>
                            <tr>
                                <th>Rebotes</th>
                                <td><%= statsTA[0].totReb %></td>
                            </tr>
                            <tr>
                                <th>Rebotes ofensivos</th>
                                <td><%= statsTA[0].offReb %></td>
                            </tr>
                            <tr>
                                <th>Rebotes defensivos</th>
                                <td><%= statsTA[0].defReb %></td>
                            </tr>
                            <tr>
                                <th>Tentativas de Arremesso</th>
                                <td><%= statsTA[0].fga %></td>
                            </tr>
                            <tr>
                                <th>Conversão de Arremesso</th>
                                <td><%= statsTA[0].fgp %>%</td>
                            </tr>
                            <tr>
                                <th>Tentativas 3 Pontos</th>
                                <td><%= statsTA[0].tpa %></td>
                            </tr>
                            <tr>
                                <th>Conversão 3 Pontos</th>
                                <td><%= statsTA[0].tpp %>%</td>
                            </tr>
                            <tr>
                                <th>Lances livres</th>
                                <td><%= statsTA[0].fta %></td>
                            </tr>
                            <tr>
                                <th>Conversão Lance livre</th>
                                <td><%= statsTA[0].ftp %>%</td>
                            </tr>
                            <tr>
                                <th>Faltas</th>
                                <td><%= statsTA[0].pFouls %></td>
                            </tr>
                            <tr>
                                <th>Roubos</th>
                                <td><%= statsTA[0].steals %></td>
                            </tr>
                            <tr>
                                <th>Turnovers</th>
                                <td><%= statsTA[0].turnovers %></td>
                            </tr>
                            <tr>
                                <th>PlusMinus da equipe</th>
                                <td><%= statsTA[0].plusMinus %></td>
                            </tr>
                        <% } else { %>
                            <tr>
                                <td colspan="2">Nenhuma estatística disponível</td>
                            </tr>
                        <% } %>
                    </table>
                </div>

                <div class="stats-table">
                    <table class="time-table">
                        <% if (statsTB && ocorreu != true) { %>
                            <tr>
                                <th>Média de Pontos</th>
                                <td><%= statsTB[0].media_pontos.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Assistências</th>
                                <td><%= statsTB[0].media_assistencias.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Rebotes</th>
                                <td><%= statsTB[0].media_totReb.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Rebotes ofensivos</th>
                                <td><%= statsTB[0].media_offReb.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Rebotes defensivos</th>
                                <td><%= statsTB[0].media_defReb.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Tentativas de Arremesso</th>
                                <td><%= statsTB[0].media_fga.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Conversão de Arremesso</th>
                                <td><%= statsTB[0].media_fgp.toFixed(1) %>%</td>
                            </tr>
                            <tr>
                                <th>Média de Tentativas 3 Pontos</th>
                                <td><%= statsTB[0].media_tpa.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Conversão 3 Pontos</th>
                                <td><%= statsTB[0].media_tpp.toFixed(1) %>%</td>
                            </tr>
                            <tr>
                                <th>Média de Lances livres</th>
                                <td><%= statsTB[0].media_fta.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Conversão Lance livre</th>
                                <td><%= statsTB[0].media_ftp.toFixed(1) %>%</td>
                            </tr>
                            <tr>
                                <th>Média de Faltas</th>
                                <td><%= statsTB[0].media_pFouls.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Roubos</th>
                                <td><%= statsTB[0].media_steals.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de Turnovers</th>
                                <td><%= statsTB[0].media_turnovers.toFixed(1) %></td>
                            </tr>
                            <tr>
                                <th>Média de PlusMinus da equipe</th>
                                <td><%= statsTB[0].media_plusMinus.toFixed(1) %></td>
                            </tr>
                        <% } else if(statsTB && ocorreu) { %>
                            <tr>
                                <th>Pontos</th>
                                <td><%= statsTB[0].pontos %></td>
                            </tr>
                            <tr>
                                <th>Assistências</th>
                                <td><%= statsTB[0].assistencias %></td>
                            </tr>
                            <tr>
                                <th>Rebotes</th>
                                <td><%= statsTB[0].totReb %></td>
                            </tr>
                            <tr>
                                <th>Rebotes ofensivos</th>
                                <td><%= statsTB[0].offReb %></td>
                            </tr>
                            <tr>
                                <th>Rebotes defensivos</th>
                                <td><%= statsTB[0].defReb %></td>
                            </tr>
                            <tr>
                                <th>Tentativas de Arremesso</th>
                                <td><%= statsTB[0].fga %></td>
                            </tr>
                            <tr>
                                <th>Conversão de Arremesso</th>
                                <td><%= statsTB[0].fgp %>%</td>
                            </tr>
                            <tr>
                                <th>Tentativas 3 Pontos</th>
                                <td><%= statsTB[0].tpa %></td>
                            </tr>
                            <tr>
                                <th>Conversão 3 Pontos</th>
                                <td><%= statsTB[0].tpp %>%</td>
                            </tr>
                            <tr>
                                <th>Lances livres</th>
                                <td><%= statsTB[0].fta %></td>
                            </tr>
                            <tr>
                                <th>Conversão Lance livre</th>
                                <td><%= statsTB[0].ftp %>%</td>
                            </tr>
                            <tr>
                                <th>Faltas</th>
                                <td><%= statsTB[0].pFouls %></td>
                            </tr>
                            <tr>
                                <th>Roubos</th>
                                <td><%= statsTB[0].steals %></td>
                            </tr>
                            <tr>
                                <th>Turnovers</th>
                                <td><%= statsTB[0].turnovers %></td>
                            </tr>
                            <tr>
                                <th>PlusMinus da equipe</th>
                                <td><%= statsTB[0].plusMinus %></td>
                            </tr>
                        <% } else { %>
                            <tr>
                                <td colspan="2">Nenhuma estatística disponível</td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
            <% if(!ocorreu) { %>
            <!-- Seção para os elencos dos times (inicialmente oculta) -->
            <h3 class="roster-heading" id="toggle-roster">Elenco e Prognósticos</h3>
            <div class="roster-section" id="roster-section">
                
                <div class="team-table">
                    <table class="player-table">
                        <tr>
                            <th>Jogador</th>
                            <% if (nextGame[0].date.toLocaleDateString() === partida.date.toLocaleDateString() || partida.date.toLocaleDateString() === hoje) { %>
                                <th>Pontos esperados</th>
                            <th>Assistências esperadas</th>
                            <th>Rebotes esperados</th>
                              <% } %>
                            
                        </tr>
                        <% timeALineup.forEach((jogador, index) => { %>
                            <tr>
                                <td>
                                    <a href="/jogador/<%= timeA.idTime %>/<%= jogador.idJogador %>"><%= jogador.nome %> <%= jogador.sobrenome %></a>
                                </td>
                                <!-- Inserir prognosticos de pontos assistencias e rebotes -->
                                <% if (nextGame && nextGame.length > 0) { %>
                                    <% if (nextGame[0].date.toLocaleDateString() === partida.date.toLocaleDateString() || partida.date.toLocaleDateString() === hoje) { %>
                                      <!-- Exibir os prognósticos -->
                                      <td><%= isNaN(prognosticosTimeA[index].pontos) ? '-' : prognosticosTimeA[index].pontos.toFixed(2) %></td>
                                      <td><%= isNaN(prognosticosTimeA[index].assistencias) ? '-' : prognosticosTimeA[index].assistencias.toFixed(2) %></td>
                                      <td><%= isNaN(prognosticosTimeA[index].rebotes) ? '-' : prognosticosTimeA[index].rebotes.toFixed(2) %></td>

                                    <% } else { %>
                                      <!-- Não exibir os prognósticos -->
                                      
                                    <% } %>
                                  <% } else { %>
                                    <!-- Não exibir os prognósticos -->
                                    
                                  <% } %>
                            </tr>
                        <% }); %>
                    </table>
                </div>
                
                <div class="team-table">
                    <table class="player-table">
                        <tr>
                            <th>Jogador</th>
                            <% if (nextGame[0].date.toLocaleDateString() === partida.date.toLocaleDateString() || partida.date.toLocaleDateString() === hoje) { %>
                                <th>Pontos esperados</th>
                                <th>Assistências esperadas</th>
                                <th>Rebotes esperados</th>
                              <% } %>
                            
                        </tr>
                        <% timeBLineup.forEach((jogador, index) => { %>
                            <tr>
                                <td>
                                    <a href="/jogador/<%= timeB.idTime %>/<%= jogador.idJogador %>"><%= jogador.nome %> <%= jogador.sobrenome %></a>
                                </td>
                                <!-- Inserir prognosticos de pontos assistencias e rebotes -->
                                <% if (nextGame && nextGame.length > 0) { %>
                                    <% if (nextGame[0].date.toLocaleDateString() === partida.date.toLocaleDateString() || partida.date.toLocaleDateString() === hoje) { %>
                                      <!-- Exibir os prognósticos -->
                                      <td><%= isNaN(prognosticosTimeB[index].pontos) ? '-' : prognosticosTimeB[index].pontos.toFixed(2) %></td>
                                      <td><%= isNaN(prognosticosTimeB[index].assistencias) ? '-' : prognosticosTimeB[index].assistencias.toFixed(2) %></td>
                                      <td><%= isNaN(prognosticosTimeB[index].rebotes) ? '-' : prognosticosTimeB[index].rebotes.toFixed(2) %></td>
                                    <% } else { %>
                                      
                                    <% } %>
                                  <% } else { %>
                                    
                                  <% } %>
                            </tr>
                        <% }); %>
                    </table>
                </div>
                
            </div>
            <% } else { %>
                <!-- Seção para os elencos dos times (inicialmente oculta) -->

                <h3 class="roster-heading" id="toggle-roster">Elencos</h3>
                <div class="roster-section" id="roster-section">
                    
                    <div class="team-table">
                        <table class="player-table">
                            <tr>
                                <th>Jogador</th>
                                <th>Pontos</th>
                                <th>Assistências</th>
                                <th>Rebotes</th>
                            </tr>
                            <% timeALineup.forEach((jogador) => { %>
                                <tr>
                                    <td>
                                        <a href="/jogador/<%= timeA.idTime %>/<%= jogador.idJogador %>"><%= jogador.nome %> <%= jogador.sobrenome %></a>
                                    </td>
                                    <!-- Inserir estatísticas -->
                                    <% const prognosticoJogador = prognosticosTimeA.find(prognostico => prognostico.idJogador === jogador.idJogador); %>
                                    <% if (prognosticoJogador && prognosticoJogador.pontos != null) { %>
                                        <!-- Exibir as estatísticas -->
                                        <td><%= prognosticoJogador.pontos %></td>
                                        <td><%= prognosticoJogador.assistencias %></td>
                                        <td><%= prognosticoJogador.totReb %></td>
                                    <% } else { %>
                                        <!-- Não há dados disponíveis -->
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    <% } %>
                                </tr>
                            <% }); %>
                        </table>
                        
                        
                    </div>
                    
                    <div class="team-table">
                        <table class="player-table">
                            <tr>
                                <th>Jogador</th>
                                <th>Pontos</th>
                                <th>Assistências</th>
                                <th>Rebotes</th>
                            </tr>
                            <% timeBLineup.forEach((jogador) => { %>
                                <tr>
                                    <td>
                                        <a href="/jogador/<%= timeB.idTime %>/<%= jogador.idJogador %>"><%= jogador.nome %> <%= jogador.sobrenome %></a>
                                    </td>
                                    <!-- Inserir estatísticas de pontos assistências e rebotes -->
                                    <% const prognosticoJogadorB = prognosticosTimeB.find(prognostico => prognostico.idJogador === jogador.idJogador); %>
                                    <% if (prognosticoJogadorB && prognosticoJogadorB.pontos != null) { %>
                                        <!-- Exibir os statsJogador -->
                                        <td><%= prognosticoJogadorB.pontos %></td>
                                        <td><%= prognosticoJogadorB.assistencias %></td>
                                        <td><%= prognosticoJogadorB.totReb %></td>
                                    <% } else { %>
                                        <!-- Não há dados disponíveis -->
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    <% } %>
                                </tr>
                            <% }); %>
                        </table>
                        
                    </div>
                    
                </div>

            <% } %>
        </div>
    </div>

    <script>
        const rosterSection = document.getElementById("roster-section");
        const toggleRosterButton = document.getElementById("toggle-roster");
        const statsSection = document.getElementById("stats-section");
        const toggleStatsButton = document.getElementById("toggle-stats");

        // Função para alternar a visibilidade da seção de elenco dos times
        function toggleRosterSection() {
            if (rosterSection.style.display === "none" || rosterSection.style.display === "") {
                rosterSection.style.display = "flex";
            } else {
                rosterSection.style.display = "none";
            }
        }

        // Adicione um ouvinte de evento de clique ao título de elenco dos times
        if (toggleRosterButton) {
            toggleRosterButton.addEventListener("click", toggleRosterSection);
         }

        // Função para alternar a visibilidade da seção de estatísticas dos times
        function toggleStatsSection() {
            if (statsSection.style.display === "none" || statsSection.style.display === "") {
                statsSection.style.display = "flex";
            } else {
                statsSection.style.display = "none";
            }
        }

        // Adicione um ouvinte de evento de clique ao título de estatísticas dos times
        toggleStatsButton.addEventListener("click", toggleStatsSection);
    </script>
</body>
</html>
