<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Inclua o Materialize CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
        body {
            background-color: #001f3f;
            color: #FFFFFF;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .team-card {
            background-color: #002D62;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            text-align: center;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .team-card img {
            max-width: 100px;
            height: auto;
        }
        
        /* Adicione um espaçamento nas células da tabela */
        #team-info td {
            padding: 10px;
        }

        .table-container {
            background-color: #002D62;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            border-radius: 5px;
        }

        .tables {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .player-table, .stats-table {
            border-collapse: collapse;
            margin-top: 10px;
            color: #FFFFFF;
        }

        .player-table th, .player-table td,
        .stats-table th, .stats-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        .player-table th {
            background-color: #FF4500;
            color: #FFFFFF;
        }

        .player-table tbody tr:nth-child(even),
        .stats-table tbody tr:nth-child(odd) {
            background-color: #003C8F;
            color: #FFFFFF;
        }

        .player-table tbody tr:nth-child(odd),
        .stats-table tbody tr:nth-child(even) {
            background-color: #001845;
            color: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="team-card">
        <img src="<%= time.logo %>" alt="Logo do Time">
        <h2><%= time.nome %></h2>
        <table id="team-info"></table>
        <tr>
            <td>Sigla: <%= time.sigla %></td>
            <td>Cidade: <%= time.cidade %></td>
        </tr>
        <tr>
            <td>Conferência: <%= time.conferencia %></td>
            <td>Arena: <%= time.arena %></td>
        </tr>
        <p>Títulos: <%= time.titulos %></p>
    </div>
    
    <div class="table-container">
        <div><h3>Elenco</h3></div>
        <table class="player-table">
            <tr>
                <th>Nome do Jogador</th>
                <th>Posição</th>
            </tr>
            <% jogadores.forEach(jogador => { %>
                <tr>
                    <td><%= jogador.nome %> <%= jogador.sobrenome %></td>
                    <td><%= jogador.posicao %></td>
                </tr>
            <% }); %>
        </table>
        
        <div><h3>Estatísticas do Time</h3></div>
        <table class="stats-table">
            <tr>
                <th>Pontos</th>
                <th>Assistências</th>
                <th>Rebotes</th>
                <th>Tentativas 3 Pontos</th>
                <th>Conversão 3 Pontos</th>
                <th>Tentativas 2 Pontos</th>
                <th>Conversão 2 Pontos</th>
                <th>Tentativas de Arremesso</th>
                <th>Conversão de Arremesso</th>
                <th>Tentativas Lance Livre</th>
                <th>Conversão Lance Livre</th>
                <th>Média de Faltas</th>
            </tr>
            <% if (estatisticasDoTime) { %>
                <tr>
                    <td><%= estatisticasDoTime.pontos %></td>
                    <td><%= estatisticasDoTime.assistencias %></td>
                    <td><%= estatisticasDoTime.rebotes %></td>
                    <td><%= estatisticasDoTime.tentativas3pt %></td>
                    <td><%= estatisticasDoTime.acerto3pt %>%</td>
                    <td><%= estatisticasDoTime.tentativas2pt %></td>
                    <td><%= estatisticasDoTime.acertos2pt %>%</td>
                    <td><%= estatisticasDoTime.tentativas %></td>
                    <td><%= estatisticasDoTime.acertos %>%</td>
                    <td><%= estatisticasDoTime.tentativasLL %></td>
                    <td><%= estatisticasDoTime.acertosLL %>%</td>
                    <td><%= estatisticasDoTime.faltas %></td>
                </tr>                
            <% } else { %>
                <tr>
                    <td colspan="12">Nenhuma estatística disponível</td>
                </tr>
            <% } %>
        </table>
    </div>


    <!-- Inclua o Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
