<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Inclua o Materialize CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Inclua o FullCalendar CSS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.8/index.global.min.js'></script>
    
    
    <style>
        body {
            background-color: #001f3f;
            color: #FFFFFF;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .team-card {
            background-color: #002D62;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px auto;
        }

        .team-card img {
            max-width: 100px;
            height: auto;
        }

        

        .table-container {
            background-color: #002D62;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin: 20px auto;
        }

        .player-table, .stats-table {
            border-collapse: collapse;
            margin-top: 10px;
            color: #FFFFFF;
            width: 100%;
        }

        .player-table th, .player-table td,
        .stats-table th, .stats-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        .player-table th {
            background-color: #FF4500;
            color: #FFFFFF;
        }

        .player-table tbody tr:nth-child(even),
        .stats-table tbody tr:nth-child(odd) {
            background-color: #003C8F;
            color: #FFFFFF;
        }

        .player-table tbody tr:nth-child(odd),
        .stats-table tbody tr:nth-child(even) {
            background-color: #001845;
            color: #FFFFFF;
        }

        /* Adicione estilos para telas menores */
        @media screen and (max-width: 992px) {
            .team-card {
                padding: 10px;
                margin: 10px auto;
            }
            .team-card img {
                max-width: 70px;
            }
            .table-container {
                padding: 10px;
                margin: 10px auto;
            }
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="team-card">
                        <img src="<%= time.logo %>" alt="Logo do Time">
                        <h2><%= time.nome %></h2>
                        <table class="team-info">
                            <tr>
                                <td>Sigla:</td>
                                <td><%= time.sigla %></td>
                            </tr>
                            <tr>
                                <td>Cidade:</td>
                                <td><%= time.cidade %></td>
                            </tr>
                            <tr>
                                <td>Conferência:</td>
                                <td><%= time.conferencia %></td>
                            </tr>
                            <tr>
                                <td>Arena:</td>
                                <td><%= time.arena %></td>
                            </tr>
                            <tr>
                                <td>Títulos:</td>
                                <td><%= time.titulos %></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col s12 m6">
                    <div class="table-container">
                        <div><h3>Estatísticas do Time</h3></div>
                        <table class="stats-table">
                            <% if (estatisticasDoTime) { %>
                                <tr>
                                    <th>Pontos</th>
                                    <td><%= estatisticasDoTime.pontos %></td>
                                </tr>
                                <tr>
                                    <th>Assistências</th>
                                    <td><%= estatisticasDoTime.assistencias %></td>
                                </tr>
                                <tr>
                                    <th>Rebotes</th>
                                    <td><%= estatisticasDoTime.rebotes %></td>
                                </tr>
                                <tr>
                                    <th>Tentativas 3 Pontos</th>
                                    <td><%= estatisticasDoTime.tentativas3pt %></td>
                                </tr>
                                <tr>
                                    <th>Conversão 3 Pontos</th>
                                    <td><%= estatisticasDoTime.acerto3pt %>%</td>
                                </tr>
                                <tr>
                                    <th>Tentativas 2 Pontos</th>
                                    <td><%= estatisticasDoTime.tentativas2pt %></td>
                                </tr>
                                <tr>
                                    <th>Conversão 2 Pontos</th>
                                    <td><%= estatisticasDoTime.acertos2pt %>%</td>
                                </tr>
                                <tr>
                                    <th>Tentativas de Arremesso</th>
                                    <td><%= estatisticasDoTime.tentativas %></td>
                                </tr>
                                <tr>
                                    <th>Conversão de Arremesso</th>
                                    <td><%= estatisticasDoTime.acertos %>%</td>
                                </tr>
                                <tr>
                                    <th>Tentativas Lance Livre</th>
                                    <td><%= estatisticasDoTime.tentativasLL %></td>
                                </tr>
                                <tr>
                                    <th>Conversão Lance Livre</th>
                                    <td><%= estatisticasDoTime.acertosLL %>%</td>
                                </tr>
                                <tr>
                                    <th>Média de Faltas</th>
                                    <td><%= estatisticasDoTime.faltas %></td>
                                </tr>
                            <% } else { %>
                                <tr>
                                    <td colspan="2">Nenhuma estatística disponível</td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="table-container">
                        <div><h3>Elenco</h3></div>
                        <table class="player-table">
                            <tr>
                                <th>Nome do Jogador</th>
                                <th>Posição</th>
                            </tr>
                            <% jogadores.forEach(jogador => { %>
                                <tr>
                                    <td>
                                        <a href="/jogador/<%= time.idTime %>/<%= jogador.idJogador %>"><%= jogador.nome %> <%= jogador.sobrenome %></a>
                                    </td>
                                    <td><%= jogador.posicao %></td>
                                </tr>
                            <% }); %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            dateClick: function(info) {
                var clickedDate = info.dateStr;
                window.location.href = '/partidas?data=' + clickedDate;
            }
        });

        calendar.render();
    });
</script>

        <!-- Inclua o FullCalendar CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.7.2/main.min.css">

        <!-- Inclua o FullCalendar JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.7.2/main.min.js"></script>
        
    </body>
    </html>